* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 50px;
  height: 50px;
}

.logo2 {
  width: 20px;
  height: 20px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;

  li {

    list-style: none;

  }
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-right: 20px;
  margin-left: 20px;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #bbdefb;
}

.navbar {
  background-color: #5c6bc0;
 padding-bottom: 10px;
 padding: 10px;
}

.search-box {
  background-color: black;
  padding: 10px 20px;
  border-radius: 50px;
}

.search-box input {
  padding: 6px;
  background: transparent;
  border: 0;
  outline: 0;
  color: white;
  font-size: 18px;
  max-width: 200px;
}


.Inicio {
  display: grid;
  grid-template-columns: 600px 600px;
  grid-template-rows: auto auto;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
  font-family: "Permanent Marker", cursive;
  font-size: 23px;
  font-style: normal;

}

.Title {
  font-family: "Permanent Marker", cursive;
  font-weight: 500;
  font-size: 65px;
  font-style: normal;
  margin-top: 40px;
  margin-left: 80px;
  text-shadow: #5c6bc0 25px 25px;

}


.animate__animated.animate__backInDown {
  animation-duration: 1s;
}

.animate__animated.animate__backInUp {
  animation-duration: 3s;
}

.animate__animated.animate__backInRight {
  animation-duration: 3s;
}
