* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 50px;
  height: 50px;
}

<<<<<<< HEAD
.logo2 {
  width: 20px;
  height: 20px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;

  li {

    list-style: none;
=======
ul {
  display: flex;
  align-items: center;
  justify-content: center; 

  li {
    margin-right: 200px; 
    list-style: none; 
>>>>>>> 94ce6f7569e3dbc1ac0f75ffa8555bfa865f17de

  }
}

a {
<<<<<<< HEAD
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

body {
  background-color: #bbdefb;
=======
  text-decoration: none;  
  color: black;
}

body {
  background-color: #bbdefb; 
>>>>>>> 94ce6f7569e3dbc1ac0f75ffa8555bfa865f17de
}

.navbar {
  background-color: #5c6bc0;
 padding-bottom: 10px;
<<<<<<< HEAD
}

.search-box {
  background-color: black;
  padding: 10px 20px;
  border-radius: 50px;
}

.search-box input {
  padding: 6px;
  background: transparent;
  border: 0;
  outline: 0;
  color: white;
  font-size: 18px;
  max-width: 200px;
=======
>>>>>>> 94ce6f7569e3dbc1ac0f75ffa8555bfa865f17de
}